/*general*/
h1 {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Satisfy', cursive;
    
}
h2 {
    background-color: rgb(44, 94, 77);
    font-size: 150px;
    color: rgb(0, 0, 0);
    text-align: center;
}

seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seccion-obscura{
  background-color: rgba(5, 22, 22, 0.582);
  color: rgb(255, 253, 253);
}

.seccion-clara{
  background-color: rgb(216, 209, 200);
  color: black;
}

.titulo{
  font-size: 40px;
  padding: 20px 0;
  font-family: 'Satisfy', cursive;
}

.texto{
  font-size: 1.2rem;
}

.descripcion{
  font-size: 1.5rem;
  color: rgb(29, 28, 28);
}

/*barra de bootstrap*/
.navbar{
    padding: 2rem;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}


/*personalizacion por secciones */

 .principal{
    background-color: silver;
    min-height: 450px;
    text-align: center;
}

.imagen-principal{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}

.reloj{
  background: none;
}

@font-face {
  font-family: F16;
  src: url("../DS-DIGIT.TTF") format('truetype');
  font-weight: normal;
  font-style: normal;
}

.reloj div{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.reloj h1{
  font-family: "DS-digital";
  color: blue;
  font-size: 10rem;
  text-align: center;
}

.datos{
  height: 400px;
  padding: 20px;
}

.datos .conteiner{
max-width: 600px;
text-align: center;
}

.conocimientos{
  padding: 60px 40px ;
}

.conocimientos .columna{
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0,2s ease-in;
}

.conocimientos i{
  font-size: 2.5rem;
  color: rgb(2, 99, 23);
  background-color: black;
  padding: 8px 19px;
  border-radius: 50%;
}

.conocimientos .columna:hover{
  color: antiquewhite;
  background-color: black;
}

.conocimientos-titulo{
  font-size: 30px;
  font-weight: bold;
  margin: 15px 0;
}

.mis-proyectos{
  height: 600px;
  padding: 40px;
}

.mis-proyecto img{
  width: 100%;
  height: 100%;
  padding: 40px;
  display: block;
  transition: all 0,2s ease;

}

.proyecto .contenedor {
padding-top: 60px;
margin-bottom: 40px;
}

.overlay{
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto{
  position: relative;
}

.proyecto:hover img{
  opacity: 0.2;
}

.proyecto:hover .overlay{
opacity: 1;
}

.contactame .conteiner{
  max-width: 1000px;
  min-height: 200px;
  padding: 20px;
}

.contactame .row{
  width: 100%;
  display: flex;
  align-items: center;
}

.contactame button{
  transition: all 0,3s ease-in-out;
  border-radius: 100px;
  background-color: transparent;
  color: ghostwhite;
  font-weight: bold;
  border: 1px solid white;
  margin: 10px;
  padding: 1px 2px ;
}

.contactame button:hover{
  background-color: blue;
  color: black;
}

.contactame button i{
  color: azure;
  font-size: 1.5rem;
  transition: all 0,3s ease-in-out
}

.contactos button:hover{
  color: black;
}

.footer{
  max-width: 200px;
}

.footer-texto{
  font-size: 1.5rem;
  padding: 20px;
  margin: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.author{
  font-size: 15px;
  padding: 20px;
  color: black
}

/*adaptable;(responcivo)*/

@media screen and (max-width: 400px) {
  .overlay p{
    font-size: 40px;
  }
}

@media screen and (max-width: 400px) {
  h1{
    font-size: 40px;
    text-align:center;
  }
}